@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Acumin';
    src: url('../font/acumin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NextFont';
    src: url('../font/TheNextFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.nextfont {
    font-family: 'NextFont', sans-serif;
}

.acumin {
    font-family: 'Acumin', sans-serif;
}

.gradient-button {
    background: rgb(185, 144, 237);
    background: linear-gradient(90deg, rgba(185, 144, 237, 1) 0%, rgba(113, 196, 199, 1) 50%, rgba(149, 242, 20, 1) 100%);
}

@layer utilities {
    @variants responsive {
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(65, 65, 65);
}

.card-shadow {
    box-shadow: 0px 0px 22px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 22px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 22px 6px rgba(0, 0, 0, 0.5);
}